/** ==========> Media Query <=========== */

@media (max-width: 1280px) {
  /**  Featured On Section */
  .featured-on-container {
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 1rem 5rem;
  }

  .featured-items {
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
  }
}

@media (max-width: 1240px) {
  /** Food Item Section */
  .food-item-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }

  .food-item {
    flex-direction: column;
  }

  .food-info {
    order: 1;
    text-align: center;
  }

  .food-item .food-info h3 {
    font-size: 26px;
  }

  .food-item .food-info h5 {
    font-size: 20px;
  }

  .food-item .food-info p {
    font-size: 13.6px;
  }

  .food-img img {
    max-width: 175px;
    max-height: 175px;
    object-fit: cover;
  }

  /**  Customer Feedback Section */
  .feedback-container {
    grid-template-columns: 1fr 1fr;
  }

  .feedback-container .feedback > h5 {
    width: 100%;
    text-align: center;
  }

  .customer-info {
    justify-content: center;
  }
}

@media (max-width: 1230px) {
  /** BBQ Place Section  */
  .bbq-content-container {
    grid-template-columns: auto;
    gap: 3.5rem;
  }

  .bbq-img {
    justify-content: center;
  }

  /** Renowned Chefs Section  */
  .renowned-chefs-container {
    gap: 2.5rem;
  }

  .renowned-chefs-section-description h2 {
    font-size: 40px;
  }
}

@media (max-width: 1100px) {
  /** Navigation */
  .navbar.container {
    width: 100%;
  }

  .navbar-links ul li a.btn {
    display: none;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 95%;
    height: fit-content;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    padding: 1rem 0 0;
    z-index: 1000;
    border-radius: 8px;
    font-weight: 600;
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.35s ease;
  }

  .navbar-links ul li {
    text-align: center;
    padding: 10px 0;
    width: max-content;
    margin-inline: auto;
  }

  .navbar-links ul li a {
    color: #fff;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar .brand-title a img {
    width: 150px;
    padding-left: 2rem;
  }

  /**  About Us Section */
  .about-us-container {
    padding: 5rem 2rem;
    flex-direction: column;
  }

  /** Renowned Chefs Section  */
  .renowned-chefs-container {
    flex-direction: column;
    text-align: center;
    gap: 4rem;
  }

  .chef-text-divider,
  .renowned-chefs-section-description p {
    margin-inline: auto;
  }

  .chefs-container {
    width: 100%;
  }
}

@media (max-width: 992px) {
  /** Header */
  .header-content h1 {
    font-size: 80px;
  }

  /**  Featured On Section */
  .featured-items img {
    max-width: 122px;
    height: 60px;
  }

  /** Footer  */
  .footer-content-container > p {
    width: 100%;
    font-size: 13.6px;
  }

  /**  Our Resto. Section  */

  .our-resto-container p {
    width: 90%;
  }

  /** Our Food and Value Section */
  .food-and-value-content {
    flex-direction: column;
    text-align: center;
  }

  .food-policy p,
  .core-values p {
    width: 100%;
  }
}

@media (max-width: 850px) {
  /** BBQ Place Section  */
  .bbq-img img {
    max-width: 70%;
    height: 500px;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  /** Header */
  .header-content h3 {
    font-size: 28px;
  }

  .header-content h1 {
    font-size: 60px;
  }

  .header-content p {
    display: none;
  }

  .header-content .btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-top: 4rem;
  }

  a.btn {
    font-size: 13.7px;
  }

  /**  Featured On Section */
  .featured-text h3 {
    font-size: 25px;
  }

  /** Food Item Section */
  .food-item-container {
    gap: 2rem;
  }

  .food-item .food-info h3 {
    font-size: 24px;
  }

  .food-item .food-info h5 {
    font-size: 20px;
  }

  .food-img img {
    max-width: 90%;
    max-height: 100%;
    object-fit: cover;
  }

  /**  Customer Feedback Section */
  .feedback-container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  /**  Our Resto. Section  */
  .our-resto-container h2 {
    font-size: 40px;
  }

  .our-resto-container p {
    font-size: 13.6px;
    width: 100%;
  }
}

@media (max-width: 700px) {
  /** BBQ Place Section  */
  .bbq-info h2 {
    font-size: 30px;
  }

  .bbq-info h4 {
    font-size: 15px;
  }

  .bbq-info p {
    font-size: 13.6px;
    width: 100%;
  }

  /** Footer */
  .footer-text {
    gap: 10px;
    flex-direction: column;
    font-size: 13.6px;
  }
}

@media (max-width: 650px) {
  .bbq-content-container.container {
    width: 100%;
    padding: 8rem 1rem;
  }

  /** Renowned Chefs Section  */
  .chefs-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  /** Navigation  */
  .brand-title {
    flex: 1;
  }

  /** Header */
  .header-content h3 {
    font-size: 22px;
  }

  .header-content h1 {
    font-size: 40px;
    font-weight: 500;
  }

  /** BBQ Place Section  */
  .bbq-content-container .bbq-img {
    display: flex;
    gap: 1rem;
  }

  .bbq-img img {
    max-width: 45%;
    height: 400px;
  }

  /** Featured Delicious Section  */
  .featured-delicacies-content h2 {
    font-size: 30px;
  }

  .featured-delicacies-content h5 {
    font-size: 15px;
  }

  .featured-delicacies-content p {
    font-size: 13.6px;
  }

  /** Food Item Section */
  .food-item-container {
    grid-template-columns: 1fr;
  }

  /** Happy Hours Section */
  */ .happy-hours-container img {
    max-width: 60px;
    max-height: 60px;
  }

  .happy-hours-container h5 {
    font-size: 20px;
    padding: 2rem 0;
  }

  .happy-hours-container h2 {
    font-size: 30px;
  }

  .happy-hours-container p {
    font-size: 13.6px;
    padding: 2rem 0 4rem;
  }

  /** Footer */
  .footer-content-container h2 {
    font-size: 40px;
  }

  .footer-content-container h5 {
    font-size: 17px;
  }

  /**  Customer Feedback Section */
  .feedback-heading h2 {
    font-size: 26px;
  }

  .feedback-heading > p {
    font-size: 13.6px;
    width: 70%;
  }

  .feedback-container .feedback > h5 {
    font-size: 17.5px;
  }

  .customer-info {
    gap: 1rem;
  }

  .customer-info > span {
    font-size: 13.6px;
  }

  /**  Our Resto. Section  */
  .our-resto-container h2 {
    font-size: 30px;
  }

  .our-resto-container {
    padding: 2rem 0;
  }

  /**  About Us Section */
  .about-us-text {
    text-align: center;
  }

  .about-us-text h2 {
    font-size: 30px;
  }

  .about-us-text h5 {
    font-size: 15px;
  }

  .about-us-text p {
    font-size: 13.6px;
  }

  /** Our Food and Value Section */
  .food-policy h2,
  .core-values h2 {
    font-size: 30px;
  }

  .food-policy p,
  .core-values p {
    font-size: 13.6px;
  }

  /** Renowned Chefs Section  */
  .renowned-chefs-section-description h2 {
    font-size: 30px;
  }
}
